<!-- primary content start -->
<h2>&raquo; News</h2>
<div class="post">
	<div class="header">
		<h3>Welcome to phpwax!</h3>
		<div class="date">3rd September, 2008</div>
	</div>
	<div class="content">
		<p>This is a news story. If you take a look in you PageController file you will see a public function called 'news'. 
			This is paired with the view called 'news.html' and the main layout to generate the page you are looking at!</p>
			
	</div>			
	<div class="footer">
		
	</div>
</div>



<div class="post">
	<div class="header">
		<h3>The MVC</h3>
		<div class="date">3rd September, 2008</div>
	</div>
	<div class="content">
		<p>MVC is a programming idea. It basically separates logic, display and information out to keep things clean and tidy. for more information check out the <a href="http://en.wikipedia.org/wiki/Model-view-controller" title="wiki entry about MVC" rel="wiki">wiki page</a>.</p>
	</div>			
	<div class="footer">
		
	</div>
</div>



<!-- primary content end -->