
-----------------------------------------------------------------------------------------------
<?=$e->error_heading?>

-----------------------------------------------------------------------------------------------
<?=$e->getMessage()?>

Further Information:
<?=strip_tags($help)?>

-----------------------------------------------------------------------------------------------
<?=$e->getTraceAsString()?></p>

In File: <?=$e->getFile()?>

Line: <?=$e->getLine()?>

-----------------------------------------------------------------------------------------------
