php_value error_reporting 248
php_flag display_errors on


RewriteEngine On

RewriteRule ^$ $1/index [QSA]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond $1 !-d
RewriteRule ^(.*)$ /index.php?route=$1 [QSA,L]


# 
# Example:
#   ErrorDocument 500 /500.html

ErrorDocument 500 "<h2>Application error</h2>Application failed to start properly"
