html, body {margin:0;padding:0;border:0;}
html {
  background:#27231f url(../images/bg.png);
}
body {
  font-family:Helvetica, Arial, sans-serif;
}
#page {
  width:990px;
  background:white;
  margin:0 auto;
}
#header, #footer, #content {
  padding:0 40px;
}
#header {
  border:0;
  border-bottom:2px solid #733f9a;
  padding-top:30px;
}
#content {
  padding:30px 40px;
}
h1 {color:#222222;}
h2 {color:#444444;}
