html, body {margin:0;padding:0;border:0;}
html {
  background:#27231f;
}
body {
  font-family:Helvetica, Arial, sans-serif;
}
#page {
  width:940px;
  background:white;
  margin:0 auto;
}
#header, #footer, #content {
  padding:0 40px;
}
#header {
  border:0;
  border-bottom:2px solid #733f9a;
  padding-top:30px;
}
#content {
  padding:30px 40px;
}
h1,h2,h3,h4,h5 {font-weight:normal;}
h1 {color:#222222;}
h2 {color:#222222;}
p, ul li {color:#222; font-size:93%;}
#nav {
  float:right;
  margin:20px 15px 40px 40px;
  padding:10px;
  border:2px solid #E1E1E1;
  -webkit-border-radius:4px;
  -moz-border-radius:6px;
  background:#f1f1f1;
  background:-webkit-gradient(linear, left top, left bottom, from(#F1F1F1), to(#fff));
}
#nav ul {margin:0; padding:10px;}
#nav li {
  list-style:none;
  padding:0;
  margin:3px 0;
}
#nav li a {
  color:#733f9a;
  text-decoration:none;
}
em {
  padding:1px 3px;
}

/*------------------------------------------------------------------------
 *=CODE
 ------------------------------------------------------------------------*/

code {
  background: #f7f7f7;
  padding: 10px;
  font-size: 90%;
  line-height: 130%;
  display:block;
}
pre, em {
  background: #f7f7f7; 
}

pre {
  overflow: auto;
}

pre code {
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    font-size: 85%;
}

