php_flag display_errors on
php_value error_reporting 247

RewriteEngine On
# If you're working on your own server, don't forget to rewrite this
RewriteBase /

RewriteRule ^$ index.html [QSA]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond $1 !-d
RewriteRule ^(.*)$ index.php?route=$1 [QSA,L]


# 
# Example:
#   ErrorDocument 500 /500.html

ErrorDocument 500 "<h2>Application error</h2>Application failed to start properly"
