<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html lang="en"><head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="stylesheets/core.css" type="text/css" media="all" />
  <link rel="stylesheet" href="stylesheets/styles.css" type="text/css" media="all" />
  <link rel="stylesheet" href="stylesheets/syntax.css" type="text/css" media="all" />
  <script src="javascripts/jquery.1.3.2.js" type="text/javascript"></script>
  <script src="javascripts/code_highlighter.js" type="text/javascript"></script>
  
  <title>PHP Wax - The Framework For Web Programming</title>
  
</head>

<body>
  <div id="page">
    <div id="header">
      <a href="/phpwax"><img src="images/logo.png" alt="PHP Wax Logo" /></a>
    </div>
    <div id="content">
      <ul id="nav">
        <ul id="nav_intro">
          <a href="/phpwax/">Home</a>
          <a href="/phpwax/MVC.html">An Introduction to MVC</a>
          <a href="/phpwax/configuration.html">Setting Up Your Application</a>
          <a href="/phpwax/database.html">Connecting To a Database</a>
          <a href="/phpwax/models.html">PHP Wax Models</a>
          <a href="/phpwax/controllers.html">PHP Wax Controllers</a>
          <a href="/phpwax/views.html">Views and HTML Templates</a>
        </ul>
        <ul id="nav_intermediate">
          <a href="/phpwax/forms.html">Forms Made Easy</a>
          <a href="/phpwax/cache.html">Improve Performance With Caching</a>
        </ul>
      </ul>
      {{ content }}
    </div>
    <div id="footer">
      
    </div>
  </div>
</body>
</html>