-----------------------------------------------------------------------------------------------
<?=$e->error_heading?>

-----------------------------------------------------------------------------------------------
<?=$e->getMessage()?>


Further Information:
<?=$help?>

-----------------------------------------------------------------------------------------------
<?=$e->getTraceAsString()?></p>

In File: <?=$e->getFile()?>

Line: <?=$e->getLine()?>

-----------------------------------------------------------------------------------------------
